@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Titillium+Web:wght@300&display=swap');
nav{
    background-color: rgb(43, 134, 200);
    display: flex;
    box-shadow: 10px 10px 5px rgb(93, 128, 150);
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    
>h1{
    margin-left: 10px;
}
>div{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    >a{
        padding: 25px;
        text-decoration: none;
        color:black;
}
}
}